@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /** THEME COLORS, SHOULD CHANGE IF DARK MODE IS USED **/
    --fg-color: rgb(4, 44, 54);
    --bg-color: #fff;
    --accent-color: rgb(8, 192, 146);    
    --search-bg-color: rgb(220, 245, 250);
    --muted-bg-color: rgb(229, 245, 247);
    --border-color: rgb(200, 200, 200);
    /** CONSTANTS **/
    --square-side-length: clamp(110px, 15vw, 200px);

    --invert: invert(0);
}

/** add image srcs as variables here, and use bg-img in css instead of
 directly using images if possible. **/
@media (prefers-color-scheme: dark){
    :root {
        --fg-color: #ffffff;
        --bg-color: #1c1c1c;
        --muted-bg-color: #2c2c2c;
        --border-color: rgb(100, 100, 100);
        --invert: invert(1);
        --search-bg-color: rgb(236, 253, 255);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow: hidden;
}

blockquote {
    margin: 0;
    padding-left: 10px;
    border-left: solid 5px #7a7a7a;
    margin-block: 8px;
}