#page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh; 
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-family:'Urbanist', sans-serif;
}

#back {
    filter: invert(1);
    -webkit-filter: invert(1);
    rotate: 180deg;
}

#topbar {
    width: 100vw;
    display: flex;
    flex-direction: row;
    min-height: 65px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--accent-color);
    color: #fff;
    box-shadow: 0 2px 6px 0 rgb(58 57 68 / 0.2);
}

#topbar > a > img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#title {
    font-size: calc(var(--square-side-length) / 4);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-inline: 10px;
}

#container {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

#class-container {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: clamp(10px, 2vh, 20px);
    width: clamp(100px, 20vw, 200px);
    font-size: calc(var(--square-side-length) / 7);
}

.nav-item {
    text-decoration: none;
    color: var(--fg-color);
    padding: 10px;
    border-radius: 2px;
    border: solid 1px transparent;
    transition: 0.1s ease;
}

.nav-item:hover {
    background-color: var(--muted-bg-color);
}

.active-nav-item {
    border: solid 1px var(--fg-color);
}

#scroll-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 65px);
    overflow-y: auto;
}

section {
    min-height: 100%;
    width: 100%;
    padding-right: clamp(10px, 2vw, 20px);
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    justify-content: center;
    gap: 5px;
}

#class-name {
    font-size: calc(var(--square-side-length)/3);
    text-align: center;
}

#class-description {
    font-size: calc(var(--square-side-length)/6);
    text-align: center;
    font-weight: 400;
}

#teacher-info {
    margin-top: 25px;
}

#teacher-name,
#join-link {
    text-decoration: none;
    color: var(--accent-color);
}

#teacher-name:hover,
#join-link:hover {
    text-decoration: underline;
}

#class-join-link {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

#modules {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-top: clamp(20px, 4vh, 40px);
    gap: clamp(10px, 4vh, 20px);
    min-height: fit-content;
}

#add-module-btn {
    width: 1200px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    border: dashed 1px var(--border-color);
    background-color: var(--muted-bg-color);
}

#add-module-btn:hover {
    cursor: pointer;
    border: solid 1px var(--border-color);
}

#add-module-btn > img {
    filter: var(--invert);
}

.module {
    background-color: var(--muted-bg-color);
    width: 1200px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    border: solid 1px var(--border-color);
    border-radius: 5px;
}

.module-name {
    padding: 10px;
    color: var(--muted-bg-color);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: calc(var(--square-side-length)/5);
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.module-del {
    width: 25px;
    background-color:rgb(250, 89, 89);
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
}

.lessons {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lesson {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    padding-bottom: 20px;
    border-bottom: solid 1px var(--border-color);
    gap: 10px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.add-lesson {
    justify-content: center;
    align-items: center;
    background-color: var(--muted-bg-color);
    border: dashed 1px var(--border-color);
}

.add-lesson-icon {
    filter: var(--invert);
}

.add-lesson:hover {
    border: solid 1px transparent;
}

.lesson-info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.lesson-type {
    padding: 4px;
    border-radius: 3px;
    color: #222;
    border: solid 1px #222;
}

.lesson-type[data-type="info"] {
    background-color: #84db84;
}

.lesson-type[data-type="project"] {
    background-color: #f8e3bb;
}

.lesson-type[data-type="file-project"] {
    background-color: #f8e3bb;
}

.lesson-type[data-type="quiz"] {
    background-color: #b1daeb;
}

.lock {
    filter: var(--invert);
    -webkit-filter: var(--invert);
    padding: 5px;
}


#grades {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: clamp(20px, 4vh, 40px);
}

#settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: clamp(10px, 2vh, 20px);
    padding-top: 5vh;
}

.settings-form,
#class-join-code,
#students {
    width: 1000px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--muted-bg-color);
    padding: 20px;
    border-radius: 5px;
    border: solid 1px var(--border-color);
}


.input-column {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

label {
    width: 20%;
    min-width: 200px;
    font-size: 16px;
    font-weight: 600;
}

input[type="text"] {
    width: 500px;
    min-width: 70%;
    max-width: 100%;
    height: 40px;
    border-radius: 5px;
    border: solid 1px var(--border-color);
    padding: 5px;
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-size: 16px;
}

input[type="text"]:focus {
    outline: solid 2px var(--accent-color);
}

.form-title {
    width: 100%;
    border-bottom: solid 1px var(--border-color);
    padding-bottom: 5px;
}

button[type="submit"] {
    padding: 10px;
    border: solid 1px var(--accent-color);
    border-radius: 5px;
    background-color: var(--accent-color);
    color: var(--fg-color);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    align-self: center;
    margin-top: 10px;
    transition: 0.1s ease;
}

button[type="submit"]:hover {
    background-color: var(--bg-color);
    color: var(--accent-color);
    box-shadow: 0 0 4px var(--accent-color);
}

.lesson-title-and-move {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}

.move {
    width: 12px;
}

.option-img,
.move-img {
    filter: var(--invert);
    -webkit-filter: var(-invert);
    width: 100%;
}

.option {
    width: 25px;
    padding: 2px;
    margin-right: 4px;
}

.delete-img {
    width: 100%;
}

.lesson-del {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 89, 89);
    border-radius: 5px;
    width: 25px;
}

.edit-img {
    filter: var(--invert);
    -webkit-filter: var(-invert);
}

#code {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    color: var(--accent-color);
}

#code-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

#copy-container {
    position: relative; 
}

#copy-code {
    cursor: pointer;
    transition: 0.1s ease;
    filter: var(--invert);
    -webkit-filter: var(-invert);
}

#copy-popup {
    display: none;
    position: absolute;
    top: -200%;
    left: -200%;
    background-color: var(--bg-color);
    border: solid 1px var(--border-color);
    padding: 5px;
    border-radius: 3px;
}

.student-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.student-name {
    color: var(--accent-color);
    text-decoration: none;
}

.student-name:hover {
    text-decoration: underline;
}

.remove-student {
    cursor: pointer;
    transition: 0.1s ease;
    filter: var(--invert);
    -webkit-filter: var(-invert);
    width: 25px;
}

#delete-class {
    cursor: pointer;
    width: 1000px;
    max-width: 100%;
    height: 40px;
    background-color: rgb(250, 89, 89);
    font-weight: 600;
    border-radius: 5px;
    border: solid 1px var(--fg-color);
    transition: 0.1s ease;
}

#delete-class:hover {
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
    border: solid 1px rgb(250, 89, 89);
    box-shadow:rgb(250, 89, 89) 0 0 4px;
}
