@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --images-width: clamp(300px, 40vw, 500px);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: rgb(8, 192, 146);
    color: white;
    font-family: 'Urbanist', sans-serif;
}

#header {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 105vh;
    justify-content: center;
    align-items: center;
}

#text-container {
    text-align: center;
    position: relative;
    z-index: 3;
    translate: translateZ(0);
}

h1 {
    font-weight: 900;
    font-size: clamp(2rem, 5vw, 4rem);
    color:rgb(244, 250, 255);
}

h2 {
    font-weight: 400;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    color: rgb(248, 252, 255);
}

h3 {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    color: rgb(248, 252, 255);
}

#button-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    gap: 10px;
}

.btn {
    width: clamp(8rem, 12vw, 12rem);
    font-size: clamp(1rem, 1.2vw, 1.2rem);
    aspect-ratio: 4/1;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    border: solid 1px rgb(1, 37, 70);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.4s ease, height 04s ease, color 0.4s ease, background-color 0.4s ease;
}

#call-to-action {
    background-color: aquamarine;
    color: rgb(1, 37, 70);
    gap: 8px;
}

#link-icon {
    transition: 0.54s ease;
}

#call-to-action:hover {
    background-color:rgb(1, 37, 70);
    color: #7fffd4;
}

#call-to-action:hover > #link-icon {
    filter: invert(1) sepia(90%) saturate(1100%) hue-rotate(69deg) brightness(100%) contrast(110%);
}

#learn-more {
    background-color: rgb(181, 227, 248);
    color: rgb(1, 37, 70);
}

#learn-more:hover {
    background-color:rgb(1, 37, 70);
    color: rgb(181, 227, 248);
}

.floating {
    --translateY: 0px;
    --rotation: 0deg;
    position: absolute;
    width: var(--images-width);
    border: solid 1px black;
    box-shadow: 2px 2px rgb(1, 37, 70);
    border-radius: 5px;
    z-index: 2;
    transform: translateY(var(--translateY)) rotate(var(--rotation));
}

#float-1 {
    bottom: 100%;
    right: calc(135% - var(--images-width));
    --rotation: -20deg;
}

#float-2 {
    bottom: 110%;
    left: calc(140% - var(--images-width));
    --rotation: 30deg;
}

#float-3 {
    top: 135%;
    right: calc(90% - var(--images-width));
    --rotation: 4deg;
}

.star {
    border: none;
    box-shadow: none;
    width: 20px;
    animation: bob 3s ease-in-out infinite;
}

#star-1 {
    top: -20px;
}

@keyframes bob {
    50% {
        transform: translateY(-20px) rotate(var(--rotation));
    }
}

#features {
    width: 100vw;
    height: fit-content;
    padding-bottom: 5vh;
    position: relative;
    background-color:rgb(1, 37, 70);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-wave {
    position: absolute;
    top: -5%;
    left: 0;
}

#features-header {
    margin-top: 25vw;
    text-align: center;
}

#contact-link {
    color: aquamarine;
    text-decoration: underline;
    text-decoration: dotted underline;
    transition: color 0.3s ease;
}

#contact-link:hover {
    color: rgb(49, 163, 100);
    text-decoration: underline;
}

#feature-timeline {
    padding-block: 50px;
    display: flex;
    flex-direction: column;
}

.feature {
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

.feature-check {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.timeline-connector-top {
    width: 2px;
    height: 40%;
    background-color: white;
}

.timeline-connector-bottom {
    width: 2px;
    height: 40%;
    background-color: white;
}

.feature-check > img {
    transition: 0.4s ease;
    width: clamp(40px, 4vw, 60px);
}

.feature-check > .checked:hover {
    filter: sepia(90%) saturate(900%) hue-rotate(69deg) brightness(90%) contrast(100%);
}

.feature-text {
    width: clamp(300px, 50vw, 600px);
    border: solid 1px aliceblue;
    padding: 10px;
    padding-bottom: 15px;
    margin-top: clamp(40px, 2vh, 60px);
    border-radius: 4px;
    cursor: default;
    transition: 0.4s ease;
}

.completed-text:hover {
    color: white;
}

.completed-text:hover > .feature-title {
    text-decoration: none;
    color: white;
}

.completed-text {
    color: grey;
}

.completed-text > .feature-title {
    text-decoration: line-through;
    color: rgb(180, 180, 180);
    transition: 0.4s ease;
}

.feature-btn {
    margin-top: 10px;
    background-color: white;
    color: rgb(1, 37, 70);
    font-weight: 800;
}

.feature-btn:hover {
    background-color: rgb(41, 124, 110);
    color: rgb(222, 255, 251);
}

.timeline-end > .feature-check {
    height: clamp(70px, 7.5vw, 100px);
}

.timeline-end > .feature-check > img {
    transform: translateY(-60%);
}
