* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

body {
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0); /** backup background-color **/
    background-image: url('../assets/imgs/space.jpg'); /** backup image **/
    background-image: url('../assets/imgs/space.gif');
    background-size: cover;
    color: rgb(243, 254, 255);
    animation: movebg 5s ease-in-out infinite;
}


h2 {
    font-weight: 700;
    font-size: clamp(1rem, 1.5vw, 1.2rem);
}

#signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: clamp(350px, 50vw, 900px);
    padding: 50px;
    background-color: #2e484d56;
    border-radius: 10px;
    border: solid 1px rgb(78, 78, 78);
    backdrop-filter: blur(5px);
}

.input-deco-text {
    color: rgb(57, 253, 237);
}

.input-container {
    display: flex;
    flex-direction: row;
    font-size: clamp(0.9rem, 1vw, 1rem);
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}

#role-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.role-holder {
    display: flex;
}

.role-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-bottom: solid 1px blue;
    cursor: pointer;
    transition: 0.4s ease;
}

.role-option:hover {
    filter: brightness(1.2);
    border-bottom: solid 1px rgb(128, 255, 123);
}

.role-option > img {
    width: 20px;
    height: 20px;
}

input[type="radio"]:checked + label {
    border-bottom: solid 1px rgb(128, 255, 123);
}

#email-container {
    flex-direction: column;
    align-items: flex-start;
}

#email-inline {
    display: flex;
    flex-direction: row;
    margin-left: 4ch;
}

input {
    font-size: clamp(0.9rem, 1vw, 1rem);
    font-family: monospace;
    color: white;
    background: transparent;
    border: none;
    min-width: 1ch;
}

#email {
    margin-left: 1ch;
}

input:focus {
    outline: none;
    filter: brightness(1.2);
}

input:placeholder-shown {
    color: rgb(243, 254, 255);
    border-bottom: solid 1px rgb(0, 162, 255);
}

.continue-btn {
    border: none;
    font-family: monospace;
    width: fit-content;
    background-color: transparent;
    border-bottom: solid 1px #4fd4dd;
    cursor: pointer;
    color: white;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stem {
    width: 2px;
    height: 2px;
    margin-right: -2px;
    margin-left: 4px;
    background-color: white;
    transition: width 0.4s ease;
}


.continue-btn:hover > .stem {
    width: 10px;
}

#signup-btn {
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: monospace;
    color: rgb(64, 255, 64);
    background-color: #111;
    font-weight: 800;
    box-shadow:rgb(138, 253, 61) 0px 0px 2px;
    opacity: 0;
    transition: 0.4s ease, opacity 1s ease;
}

#signup-btn:hover {
    filter: brightness(1.5);
    box-shadow:rgb(138, 253, 61) 0 0 4px;
}