.tray-row {
    min-height:  var(--square-side-length); 
}

#add-class-btn {
    border: none;
    padding: 5px;
    background-color: var(--accent-color);
    color: var(--fg-color);
    border-radius: 2px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s ease;
}

#add-class-btn:hover {
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;
}

#modal {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
    width: clamp(300px, 40vw, 800px);
    border-radius: 5px;
    padding: clamp(10px, 5vw, 40px);
}

#modal-title {
    font-weight: 700;
    font-size: calc(var(--square-side-length) / 5);
}

#add-class-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    gap: 30px;
    width: 100%;
}

.input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}

.input-box {
    border: solid 1px rgb(207, 207, 207);
    background-color: var(--bg-color);
    color: var(--fg-color);
    border-radius: 5px;
    height: 30px;
    width: 100%;
    padding-left: 5px;
    font-size: 20px;
}

.input-box:focus {
    outline: none;
}

.input-label {
    color: var(--fg-color);
    font-weight: bold;
    position: absolute;
    top: -12px;
    left: 20px;
    padding: 2px;
    transition: 0.4s ease;
    font-size: 14px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.input-box:focus + .input-label {
    top: -25px;
    left: 0;
}

.input-box:not(:placeholder-shown) + .input-label {
    top: -25px;
    left: 0;
}

.input-box:placeholder-shown {
    font-weight: 300;
    font-size: 18px;
}

#modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    scale: 1.5;
    cursor: pointer;
    filter: var(--invert);
}

#modal-content {
    position: relative;
    width: 100%;
}

#modal-content-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    display: none;
    align-items: center;
    justify-content: center;
}

.message {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: var(--square-side-length);
    width: var(--square-side-length);
    min-height: var(--square-side-length);
    height: var(--square-side-length);
    background-color: var(--bg-color);
    color: var(--fg-color);
    border: solid 1px var(--border-color);
    border-radius: 5px;
    cursor: pointer;
    padding-top: 5px;
    padding-inline: 5px;
    text-decoration: none;
}

.message-sender {
    font-weight: 600;
    font-size: calc(var(--square-side-length) / 7.5);
}

.message-text {
    font-size: calc(var(--square-side-length) / 12);
    height: 100%;
    overflow: hidden;
    margin: 2px;
}

.message-timestamp {
    width: 100%;
    font-size: calc(var(--square-side-length) / 10);
    text-align: right;
}

.message:hover {
    box-shadow: 0 0 1px var(--fg-color);
}